In [1]:
import dask.dataframe as dd

In [2]:
df = dd.read_csv("/Volumes/MD/trips.csv", blocksize=128000000, dtype={'Trip Seconds': 'float64', 'Trips Pooled': 'int32'}, assume_missing=True)

In [4]:
df.dropna()

Dask DataFrame Structure:
                Trip ID Trip Start Timestamp Trip End Timestamp Trip Seconds Trip Miles Pickup Census Tract Dropoff Census Tract Pickup Community Area Dropoff Community Area     Fare      Tip Additional Charges Trip Total Shared Trip Authorized Trips Pooled Pickup Centroid Latitude Pickup Centroid Longitude Pickup Centroid Location Dropoff Centroid Latitude Dropoff Centroid Longitude Dropoff Centroid Location
npartitions=209
                 object               object             object      float64    float64             float64              float64               float64                float64  float64  float64            float64    float64                   bool        int32                  float64                   float64                   object                   float64                    float64                    object
                    ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...                ...        ...                    ...          ...                      ...                       ...                      ...                       ...                        ...                       ...
...                 ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...                ...        ...                    ...          ...                      ...                       ...                      ...                       ...                        ...                       ...
                    ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...                ...        ...                    ...          ...                      ...                       ...                      ...                       ...                        ...                       ...
                    ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...                ...        ...                    ...          ...                      ...                       ...                      ...                       ...                        ...                       ...
Dask Name: dropna, 836 tasks

In [5]:
df.drop_duplicates(inplace=True)

Dask DataFrame Structure:
              Trip ID Trip Start Timestamp Trip End Timestamp Trip Seconds Trip Miles Pickup Census Tract Dropoff Census Tract Pickup Community Area Dropoff Community Area     Fare      Tip Additional Charges Trip Total Shared Trip Authorized Trips Pooled Pickup Centroid Latitude Pickup Centroid Longitude Pickup Centroid Location Dropoff Centroid Latitude Dropoff Centroid Longitude Dropoff Centroid Location
npartitions=1
               object               object             object      float64    float64             float64              float64               float64                float64  float64  float64            float64    float64                   bool        int32                  float64                   float64                   object                   float64                    float64                    object
                  ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...                ...        ...                    ...          ...                      ...                       ...                      ...                       ...                        ...                       ...
Dask Name: drop-duplicates-agg, 868 tasks

In [4]:
df.columns

Index(['Trip ID', 'Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds',
       'Trip Miles', 'Pickup Census Tract', 'Dropoff Census Tract',
       'Pickup Community Area', 'Dropoff Community Area', 'Fare', 'Tip',
       'Additional Charges', 'Trip Total', 'Shared Trip Authorized',
       'Trips Pooled', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude',
       'Pickup Centroid Location', 'Dropoff Centroid Latitude',
       'Dropoff Centroid Longitude', 'Dropoff Centroid Location'],
      dtype='object')

In [5]:
to_drop = ['Trip ID', 'Trip Start Timestamp', 'Trip End Timestamp',
       'Pickup Census Tract', 'Dropoff Census Tract',
       'Pickup Community Area', 'Dropoff Community Area', 'Fare', 'Tip',
       'Additional Charges', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude',
       'Pickup Centroid Location', 'Dropoff Centroid Latitude',
       'Dropoff Centroid Longitude', 'Dropoff Centroid Location']

In [6]:
df = df.drop(to_drop, axis=1)

In [7]:
old_cols = df.columns.to_list()

In [8]:
old_cols

['Trip Seconds',
 'Trip Miles',
 'Trip Total',
 'Shared Trip Authorized',
 'Trips Pooled']

In [9]:
new_cols = ["DURATION", "DISTANCE", "FARE", "IS_POOLED", "TRIPS_POOLED"]

In [10]:
df = df.rename(columns=dict(zip(old_cols, new_cols)))

In [11]:
df

Dask DataFrame Structure:
                DURATION DISTANCE     FARE IS_POOLED TRIPS_POOLED
npartitions=209
                 float64  float64  float64      bool        int32
                     ...      ...      ...       ...          ...
...                  ...      ...      ...       ...          ...
                     ...      ...      ...       ...          ...
                     ...      ...      ...       ...          ...
Dask Name: rename, 1046 tasks

In [12]:
df.compute()

       DURATION  DISTANCE   FARE  IS_POOLED  TRIPS_POOLED
0         795.0       2.7   5.05       True             2
1         164.0       0.8   5.00       True             1
2         334.0       1.0   7.55      False             1
3        1136.0       6.1  15.00      False             1
4         900.0       5.7  12.55      False             1
...         ...       ...    ...        ...           ...
43393     781.0       5.7  10.05       True             2
43394     286.0       0.5  15.05      False             1
43395     540.0       0.8   8.17       True             3
43396     919.0       4.0   7.55       True             2
43397     427.0       1.9   7.50      False             1

[100717116 rows x 5 columns]

In [13]:
df.to_csv("trips_extracted.csv", index=False, single_file=True)

['/Users/maneeshd/Documents/projects/rideshare/trips_extracted.csv']